<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>化學計算</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
  <!-- math -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML" async></script>
  <!-- jquery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
  <!-- custom css -->
  <link rel="stylesheet" href="css/style.css" />
</head>

<body>
  <div id="app">
    <div class="question">
      <p>問題 1：使用何種酸鹼溶液？</p>
      <select v-model="selectedKa">
        <option disabled>請選擇</option>
        <option v-for="(acid,index) in acids" :value="acid.ka">{{
            acid.title
          }}</option>
      </select>
      <p>Ka: {{ selectedKa }}</p>
    </div>
    <div class="question">
      <p>問題 2：此溶液的莫爾濃度為何(M)？</p>
      <input type="text" v-model="inputValue" />
      <hr />
      <p>
        公式： \(pH = - \log_{10}[H^+] \)
        <!-- $ = - \log_{10}[H^+] = - \log_{10}[ A ]$$ -->
      </p>
      <p>
        <!-- 此溶液的 \(pH\)值: <span>{{ answer }}</span> -->
      </p>
      <p>
        A:(Ka){{selectedKa}}
        <br>
        B:(C乘A開根號){{answer1}}
        <br>
        C:(輸入濃度){{inputValue}}
        <br>
        C乘5%:{{inputValue * 0.05}}
      </p>

      <p v-if="!BlessthanC5">
        B>C*5% 則解出為pH : {{answer2}}
      </p>
      <p v-else>
        B<=C*5% 則解出為pH : {{answer2}} </p> </div> <a href="../index.html">回首頁</a>
    </div>
    <script src="app.js">
    </script>
</body>

</html>