<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>化學計算</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <!-- math -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML"
      async
    ></script>
    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- google font -->
    <link
      href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&amp;subset=chinese-traditional"
      rel="stylesheet"
    />

    <style>
      * {
        margin: 0;
        padding: 0;
      }
      body {
        background-color: #ccc;
        font-family: 'Noto Sans TC', sans-serif;
      }
      #app {
        width: 640px;
        margin: 50px auto;
      }
      #app h3 {
        padding: 10px;
        font-size: 18px;
      }
      .question {
        border: 1px solid blueviolet;
        border-radius: 5px;
        padding: 15px;
        font-size: 18px;
      }
    </style>
  </head>

  <body>
    <div id="app">
      <div class="question">
        <p>問題 1：使用何種酸鹼溶液？</p>
        <select v-model="input.option">
          <option>請選擇</option>
          <option>鹽酸</option>
        </select>
      </div>
      <div class="question">
        <p>問題 2：此溶液的莫爾濃度為何(M)？</p>
        <input type="text" v-model="input.value" />
        <hr />
        <p>
          公式： \(pH = - \log_{10}[H^+] \)
          <!-- $ = - \log_{10}[H^+] = - \log_{10}[ A ]$$ -->
        </p>
        <p>
          此溶液的 \(pH\)值: <span>{{ answer }}</span>
        </p>
      </div>
    </div>
    <script src="app.js"></script>
  </body>
</html>
